---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <div class="content">
    <h1>Welcome</h1>
    <p></p>
  </div>
  <button id="singout-btn">Sing out</button>
</Layout>

<script>
  const btnSingout = document.querySelector(
    "#singout-btn",
  ) as HTMLButtonElement;

  const Singout = async () => {
    const res = await fetch(`http://localhost:4000/logout`, {
      method: "GET",
      credentials: "include",
    });
    const data = await res.json();
    return data;
  };

  btnSingout.addEventListener("click", async () => {
    const data = await Singout();
    alert(`${data.content} Redirecting to homepage in 3 seconds...`);
    setTimeout(() => {
      window.location.href = "/";
    }, 3000);
  });
</script>
